# Cyberlogitec Credentials
CYBERLOGITEC_USERNAME="namthanhnguyen"
CYBERLOGITEC_PASSWORD="9N@cyber"

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME="dwzciowzf"
CLOUDINARY_API_KEY="554894255544619"
CLOUDINARY_API_SECRET="-8uGr2LKDnVjgRMgRp2votvwQe8"

# Google Chat Webhook URL
GOOGLE_CHAT_WEBHOOK_URL="https://chat.googleapis.com/v1/..."

# Dashboard Secret
PUNCH_SECRET="Cqv/MUu6W("

# Turso (Persistent DB for History/Events)
# Get these from Turso dashboard (turso.tech)
TURSO_DATABASE_URL="libsql://clv-punch-duynguyen2626.aws-ap-northeast-1.turso.io"
TURSO_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzE5MjU1OTYsImlkIjoiM2E4ZTNlNGQtYTY3Mi00YjkwLWExYzAtZjkyYjVmMTI0YTI3IiwicmlkIjoiZWZlOTRlNjQtYmQxNS00ZjRkLTk5YWItNjQ0MTBlOWM1MjJjIn0.mkMyoF1qsHPnnZUkTOcjRWPl_QYeCH-dRyxeQA5po_LEmm6Tlu2iU3hE_fhbDc_VFP-4FOL1dd8fA5SbhCoxAg"